@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #4CAF50;
    --secondary-color: #D3D3D3;
    --font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    background-color: var(--base-color);
    color: var(--text-color);
}

header {
    background-color: var(--secondary-color);
    padding: 1em;
    text-align: center;
}

body {
    margin: 0;
}

section {
    margin-bottom: 3em;
}

nav {
    margin-top: 1em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
}

main {
    padding: 2em;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

form {
    background-color: var(--secondary-color);
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    gap: 10px;
    border-radius: 8px;
}

#queryDescription {
    margin-top: 15px;
}

#query2Inputs,
#query3Inputs,
#query4Inputs {
    margin-top: 15px;
}

.hidden {
    display: none !important;
}